
/* встановлюэмо фон і шрифт */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
        }

:root {
    --link-color:#2196F3;
}   

:root {
    --text-color: #212121;
}
:root {
    --background-color: #FFFFFF;
}
:root {
    --link-footer-color: rgba(255, 255, 255, 0.6);
}

a {
    text-decoration: none;
        
}

ul {
    list-style: none;
      }

.link a{
    color: #212121;
}
.link a:hover,
.link a:focus {
    color: var(--link-color);
}

.header {
   
    background-color: var(--background-color);
}

.webstudio-header {    
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.web {
    color: var(--link-color)
}

.studio {
    color: var(--background-color)
}

.studio-nav {
    color: #000000
}

.studio-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--link-color);
    }

.about-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contact-link { 
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;    
        color: var(--text-color);
}

.mailto-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.tel-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.02em;  
}

.hero {  
        background-color: #2F303A;
}

.title-1 {
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;    
        color: var(--background-color) ;
}

.button-1 {
    font-family: inherit;
    background-color: var(--link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--background-color);
    cursor: pointer;
    }

.button-1:hover,
.button-1:focus {}

.about-backgraund {   
    background-color: #F5F5F5;
}

.features {

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.feature-1 {

}

.feature-2 {
}

.feature-3 {
}

.feature-4 {
}

.title-hide {

    opacity: 0;
}

.h3 {

        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-transform: uppercase;    
        color: var(--text-color);
       }

.title2 {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.photo1 {

}

.photo2 {
}

.photo3 {

}

.backgraund-team {
  
        background-color: #F5F4FA;
}

.title3 { 
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;    
        color: var(--text-color);
}


.product {  
        background: var(--background-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.frontend {
    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.marketing {
    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.designer {
    background: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.title-foto {
    color: rgb(255, 119, 119);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.text-foto {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.title-foto1 {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.text-foto1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.webstudio-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--link-color);
}

.footer {
    background-color: #2F303A;

}

.address {
        font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.link-footer a{
    color: rgba(255, 255, 255, 0.6);
}

.link-footer a:hover,
.link-footer a:focus {
    color: var(--background-color);
}

/* Portfolio */

.pointers button {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
border: none;
cursor: pointer;
}

.pointers button:hover,
.pointers button:focus {
    background-color: var(--link-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        color: var(--background-color);
}

.button-all {}
.button-web {}
            
.button-app {}

.button-design {}

.button-marketing {}

.projet {
box-sizing: border-box;
background: var(--background-color);
border: 1px solid #EEEEEE;
}

.projet-1 {
}

.projet-2 {
}

.projet-3 {
}

.projet-4 { 
}

.projet-5 { 
}

.projet-6 {
    
}

.projet-7 {     
}

.projet-8 { 
}

.projet-9 {      
}

.title-projets {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.text-projets {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.footer-portfolio {
        background: #2F303A;
}