
/* встановлюэмо фон і шрифт */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
        }

:root {
    --link-color:#2196F3;
}   

:root {
    --text-color: #212121;
}
:root {
    --background-color: #FFFFFF;
}
:root {
    --link-footer-color: rgba(255, 255, 255, 0.6);
}

a {
    text-decoration: none;
        
}

ul {
    list-style: none;
      }

.link a{
    color: #212121;
}
.link a:hover,
.link a:focus {
    color: var(--link-color);
}

.header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: var(--background-color);
}

.webstudio-header {
    position: absolute;
    width: 150px;
    height: 30px;
    left: 215px;
    top: 25px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.web {
    color: var(--link-color)
}

.studio {
    color: var(--background-color)
}

.studio-nav {
    color: #000000
}

.studio-text {

    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--link-color);
    }

.about-link {

    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contact-link {

        position: absolute;
        width: 64px;
        height: 16px;
        left: 670px;
        top: 32px;    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;    
        color: #212121;
}

.mailto-link {

    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.tel-link {

        position: absolute;
        width: 122px;
        height: 16px;
        left: 1263px;
        top: 32px;    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;  
}

.hero {

        position: absolute;
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;    
        background-color: #2F303A;
}

.title-1 {
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;    
        color: var(--background-color) ;
            position: absolute;
            width: 696px;
            height: 120px;
            left: 452px;
            top: 180px;
}

.button-1 {
    font-family: inherit;
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 350px;
    background-color: var(--link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--background-color);
    cursor: pointer;
    }

.button-1:hover,
.button-1:focus {}

.about-backgraund {

    position: absolute;
    width: 1600px;
    height: 766px;
    left: 0px;
    top: 680px;        
    background-color: #F5F5F5;
}

.features {

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.feature-1 {

        position: absolute;
        width: 270px;
        height: 72px;
        left: 215px;
        top: 800px;
}

.feature-2 {

    position: absolute;
    width: 270px;
    height: 48px;
    left: 515px;
    top: 800px;
}

.feature-3 {

    position: absolute;
    width: 270px;
    height: 48px;
    left: 815px;
    top: 800px;
}

.feature-4 {

    position: absolute;
    width: 270px;
    height: 72px;
    left: 1115px;
    top: 800px;
}

.title-hide {

    opacity: 0;
}

.h3 {

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;    
        color: var(--text-color);
       }

.title2 {

    position: absolute;
    width: 370px;
    height: 42px;
    left: 617px;
    top: 966px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.photo1 {

    position: absolute;
    left: 215px;
    top: 1058px;
}

.photo2 {

    position: absolute; 
    left: 615px;
    top: 1058px
}

.photo3 {

    position: absolute;
    left: 1015px;
    top: 1058px;
}

.backgraund-team {

    position: absolute;
        width: 1600px;
        height: 648px;
        left: 0px;
        top: 1446px;    
        background-color: #F5F4FA;
}

.title3 {

    position: absolute;
        width: 265px;
        height: 42px;
        left: 668px;
        top: 64px;    
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;    
        color: var(--text-color);
}


.product {

    position: absolute;
        width: 270px;
        height: 368px;
        left: 215px;
        top: 185px;    
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.frontend {

position: absolute;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 185px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.marketing {

position: absolute;
    width: 270px;
    height: 368px;
    left: 815px;
    top: 185px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.designer {

position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 185px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.title-foto {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.text-foto {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.title-foto1 {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.text-foto1 {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.webstudio-footer {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 60px;
    font-family: 'Raleway'; sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    background-color: #2F303A;

}

.address {
    position: absolute;
    font-style: normal;
        font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 90px;
    margin-left: 180px;
    width: 340px;
    height: 20px;
   ;
}

.link-footer a{
    color: rgba(255, 255, 255, 0.6);
}

.link-footer a:hover,
.link-footer a:focus {
    color: var(--background-color);
}

/* Portfolio */

.pointers button {
position: absolute;
top: 174px;
height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
border: none;
cursor: pointer;
}

.pointers button:hover,
.pointers button:focus {
    background-color: var(--link-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        color: var(--background-color);
}

.button-all {
            
width: 73px;
left: 512px;
                
}
.button-web {
        width: 125px;
        left: 593px;
    }
            
.button-app {
    width: 112px;
    left: 726px;
        
}
.button-design {
    width: 103px;
    left: 846px;
}
.button-marketing {
        width: 130px;
        left: 957px;
            
}

.projet {
box-sizing: border-box;
background: var(--background-color);
border: 1px solid #EEEEEE;
}

.projet-1 {
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
}

.projet-2 {

    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 262px;
}

.projet-3 {

        position: absolute;
        width: 370px;
        height: 404px;
        left: 1015px;
        top: 262px;
}

.projet-4 {
 
        position: absolute;
        width: 370px;
        height: 404px;
        left: 215px;
        top: 696px;    
}

.projet-5 {
   
        position: absolute;
        width: 370px;
        height: 404px;
        left: 615px;
        top: 696px;    
}

.projet-6 {
   
        position: absolute;
        width: 370px;
        height: 404px;
        left: 1015px;
        top: 696px;
    
}

.projet-7 {   
        position: absolute;
        width: 370px;
        height: 404px;
        left: 215px;
        top: 1130px;    
}

.projet-8 {
   
        position: absolute;
        width: 370px;
        height: 404px;
        left: 615px;
        top: 1130px;     
}

.projet-9 {
   
        position: absolute;
        width: 370px;
        height: 404px;
        left: 1015px;
        top: 1130px;        
}

.title-projets {

    position: absolute;
    width: 322px;
    height: 36px;
    margin-top: 315;
    margin-left: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
}

.text-projets {

    position: absolute;
    width: 322px;
    height: 30px;
    margin-top: 60px;
    margin-left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.footer-portfolio {

    position: absolute;
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 1630px;
        background: #2F303A;
}